{% extends 'base.html' %}
 <h1>{% block title %}新增{% endblock %}</h1>
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">
{% endblock %}
{% block header %}
    <form method="post">
        <label for="title">标题</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required>
        <label for="body">内容</label>
        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
        <input type="submit" value="保存">
    </form>
{% endblock %}